h3{
 color: #3f51b5;
}
   .heading_one{
   	background-color: yellow;
   }
   .border{
   	border: 5px dashed black;
   }
   #head_one{
   	font-size: 50px;
   }
   .box{
   	width: 200px;
   	height: 100px;
   	background-color:rgba(00,00,00,1);
   }
